analysis/figures/*
analysis/results/*
analysis/data/*
!analysis/data/conda_envs
scratch/*
functionink/*
metabolism/carveme_smetana/*
!metabolism/carveme_smetana/divide_metabolic_models_by_module.R
metabolism/%_identity_modules_repo_original.R
metabolism/genome_aligment/*
modules_table/*
modules_similarity/*
*.csv
*.tsv
*.xmls
*.png
*.html
*.pdf
*.yaml
*.txt
*.xml
*.yml
*.odp
*.faa
*.RData
*.rds
*.rda
*.err
*.out
*.log
*.gz
.Rhistory
metabolism/dbcan_all/*
metabolism/dbcan_test/*